:root {
  --font-kyivtype-sans: "KyivType Sans";
  --default-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
    "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
}

.main-container {
  overflow: hidden;
}

.main-container,
.main-container * {
  box-sizing: border-box;
}

input,
select,
textarea,
button {
  outline: 0;
}

.main-container {
  position: relative;
  width: auto;
  height: auto;
  margin: 0 auto;
  background: linear-gradient(135deg, #000000, #03110a);
  overflow: hidden;
  box-shadow: 0 4px 25px 0 rgba(0, 0, 0, 0.25);
}
.frame {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: nowrap;
  gap: 30px;
  position: relative;
  width: 1034px;
  margin: 855px 0 0 403px;
  z-index: 27;
}
.frame-1 {
  display: flex;
  align-items: flex-end;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 548px;
  position: relative;
  width: 1034px;
  z-index: 28;
}
.cert-riddle-welcome {
  flex-shrink: 0;
  position: relative;
  width: 1034px;
  font-family: KyivType Sans, var(--default-font-family);
  font-size: 32px;
  font-weight: 700;
  line-height: 38.4px;
  text-align: left;
  z-index: 29;
}
.cert-riddle-welcome-text {
  position: relative;
  color: #f3f4f5;
  font-family: --font-kyivtype-sans;
  font-size: 32px;
  font-weight: 700;
  line-height: 38.4px;
  text-align: left;
}
.certifications-compliance {
  position: relative;
  color: #2ddb81;
  font-family: KyivType Sans, var(--default-font-family);
  font-size: 32px;
  font-weight: 700;
  line-height: 38.4px;
  text-align: left;
}
.cert-riddle-welcome-text-2 {
  position: relative;
  color: #f3f4f5;
  font-family: KyivType Sans, var(--default-font-family);
  font-size: 32px;
  font-weight: 700;
  line-height: 38.4px;
  text-align: left;
}
.digital-world-security {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
  width: 655px;
  height: 110px;
  color: #f7f7f7;
  font-family: Inter, var(--default-font-family);
  font-size: 18px;
  font-weight: 500;
  line-height: 21.784px;
  text-align: left;
  z-index: 30;
}
.frame-3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: nowrap;
  gap: 80px;
  position: relative;
  width: 1280px;
  margin: 150px 0 0 280px;
  z-index: 31;
}
.frame-4 {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: nowrap;
  flex-shrink: 0;
  position: relative;
  width: 1280px;
  z-index: 32;
}
.frame-5 {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 32px;
  position: relative;
  width: 884px;
  z-index: 33;
}
.the-roadmap {
  flex-shrink: 0;
  position: relative;
  width: 1px;
  font-family: KyivType Sans, var(--default-font-family);
  font-size: 40px;
  font-weight: 700;
  line-height: 48px;
  text-align: center;
  text-overflow: initial;
  white-space: nowrap;
  z-index: 34;
}
.the {
  position: relative;
  color: #f3f4f5;
  font-family: KyivType Sans, var(--default-font-family);
  font-size: 40px;
  font-weight: 700;
  line-height: 48px;
  text-align: left;
}
.roadmap {
  position: relative;
  color: #2ddb81;
  font-family: KyivType Sans, var(--default-font-family);
  font-size: 40px;
  font-weight: 700;
  line-height: 48px;
  text-align: left;
}
.frame-6 {
  flex-shrink: 0;
  position: relative;
  width: 1280px;
  height: 330px;
  background: rgba(5, 27, 15, 0.31);
  border: 1px solid #0f271b;
  z-index: 35;
  overflow: hidden;
  border-radius: 16px;
}
.flex-row-fc {
  position: relative;
  width: 815px;
  height: 111px;
  margin: 68px 0 0 217px;
  z-index: 59;
}
.frame-7 {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: nowrap;
  gap: 12px;
  position: absolute;
  width: 212px;
  height: 111px;
  top: 0;
  left: 0;
  z-index: 52;
}
.mask-group {
  flex-shrink: 0;
  position: relative;
  width: 80px;
  height: 80px;
  background: url(./assets/images/fd35ccea-aabb-40a0-ac7c-9be2e765b7b8.png)
    no-repeat center;
  background-size: cover;
  z-index: 53;
}
.business-info {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 19px;
  color: #ffffff;
  font-family: Inter, var(--default-font-family);
  font-size: 16px;
  font-weight: 600;
  line-height: 19px;
  text-align: left;
  white-space: nowrap;
  z-index: 54;
}
.frame-8 {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: nowrap;
  gap: 12px;
  position: absolute;
  width: 162px;
  height: 111px;
  top: 0;
  left: 343px;
  z-index: 55;
}
.arrow-roadmap {
  flex-shrink: 0;
  position: relative;
  width: 80px;
  height: 80px;
  z-index: 56;
  overflow: hidden;
}
.group {
  position: relative;
  width: 74.289px;
  height: 74.286px;
  margin: 2.857px 0 0 2.857px;
  background: url(./assets/images/6e7b9c3b-ccc2-484b-9d84-ed7a8b4610ac.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 57;
}
.generate-roadmap {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 19px;
  color: #ffffff;
  font-family: Inter, var(--default-font-family);
  font-size: 16px;
  font-weight: 600;
  line-height: 19px;
  text-align: left;
  white-space: nowrap;
  z-index: 58;
}
.frame-9 {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: nowrap;
  gap: 12px;
  position: absolute;
  width: 147px;
  height: 111px;
  top: 0;
  left: 668px;
  z-index: 59;
}
.mask-group-a {
  flex-shrink: 0;
  position: relative;
  width: 80px;
  height: 80px;
  background: url(./assets/images/c1a9328a-7295-4b1e-8dd4-9abd26e860b6.png)
    no-repeat center;
  background-size: cover;
  z-index: 60;
}
.step-by-step-guide {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 19px;
  color: #ffffff;
  font-family: Inter, var(--default-font-family);
  font-size: 16px;
  font-weight: 600;
  line-height: 19px;
  text-align: left;
  white-space: nowrap;
  z-index: 61;
}
.frame-b {
  position: relative;
  width: 784px;
  height: 38px;
  margin: 36px 0 0 248.5px;
  z-index: 36;
}
.frame-c {
  position: absolute;
  width: 38px;
  height: 38px;
  top: 0;
  left: 55px;
  background: #2ddb81;
  border: 2px solid #17864d;
  z-index: 38;
  overflow: hidden;
  border-radius: 64px;
}
.frame-d {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 29px;
  top: calc(50% - 16px);
  left: calc(50% - 7px);
  color: #ffffff;
  font-family: Inter, var(--default-font-family);
  font-size: 18px;
  font-weight: 600;
  line-height: 28.596px;
  text-align: left;
  white-space: nowrap;
  letter-spacing: -0.24px;
  z-index: 39;
}
.frame-e {
  position: absolute;
  width: 38px;
  height: 38px;
  top: 0;
  left: 50%;
  background: #2ddb81;
  border: 2px solid #17864d;
  transform: translate(-50%, 0);
  z-index: 48;
  overflow: hidden;
  border-radius: 64px;
}
.frame-f {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 29px;
  top: calc(50% - 16px);
  left: calc(50% - 8px);
  color: #ffffff;
  font-family: Inter, var(--default-font-family);
  font-size: 18px;
  font-weight: 600;
  line-height: 28.596px;
  text-align: left;
  white-space: nowrap;
  letter-spacing: -0.24px;
  z-index: 49;
}
.frame-10 {
  position: absolute;
  width: 38px;
  height: 38px;
  top: 0;
  left: 691px;
  background: #2ddb81;
  border: 3px solid #ffffff;
  z-index: 50;
  overflow: hidden;
  border-radius: 64px;
}
.frame-11 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 29px;
  top: calc(50% - 17px);
  left: calc(50% - 9px);
  color: #ffffff;
  font-family: Inter, var(--default-font-family);
  font-size: 18px;
  font-weight: 600;
  line-height: 28.596px;
  text-align: left;
  white-space: nowrap;
  letter-spacing: -0.24px;
  z-index: 51;
}
.frame-12 {
  display: flex;
  align-items: flex-start;
  flex-wrap: nowrap;
  gap: 80px;
  position: absolute;
  width: 160px;
  height: 14px;
  top: 11.5px;
  left: 153px;
  z-index: 40;
}
.line {
  flex-shrink: 0;
  position: relative;
  width: 2px;
  height: 16px;
  background: url(./assets/images/3d2f9f14-fb5d-4a26-a647-aaee82795780.png)
    no-repeat center;
  background-size: cover;
  z-index: 41;
}
.line-13 {
  flex-shrink: 0;
  position: relative;
  width: 2px;
  height: 16px;
  background: url(./assets/images/5f1cf13b-6e75-4ffc-90e5-b834d7b17af0.png)
    no-repeat center;
  background-size: cover;
  z-index: 42;
}
.line-14 {
  flex-shrink: 0;
  position: relative;
  width: 2px;
  height: 16px;
  background: url(./assets/images/8a7801fa-d810-4152-babe-a8a1c22d7b49.png)
    no-repeat center;
  background-size: cover;
  z-index: 43;
}
.frame-15 {
  display: flex;
  align-items: flex-start;
  flex-wrap: nowrap;
  gap: 80px;
  position: absolute;
  width: 160px;
  height: 14px;
  top: 11.5px;
  left: 471px;
  z-index: 44;
}
.line-16 {
  flex-shrink: 0;
  position: relative;
  width: 2px;
  height: 16px;
  background: url(./assets/images/d31a24d5-861d-4839-9277-0c46c66023ad.png)
    no-repeat center;
  background-size: cover;
  z-index: 45;
}
.line-17 {
  flex-shrink: 0;
  position: relative;
  width: 2px;
  height: 16px;
  background: url(./assets/images/922f123b-1761-41b8-8e9b-11a4b16c25a7.png)
    no-repeat center;
  background-size: cover;
  z-index: 46;
}
.line-18 {
  flex-shrink: 0;
  position: relative;
  width: 2px;
  height: 16px;
  background: url(./assets/images/fe4d17df-ec66-4166-bc3e-d034c6b778da.png)
    no-repeat center;
  background-size: cover;
  z-index: 47;
}
.line-19 {
  position: absolute;
  width: 786px;
  height: 2px;
  top: 17px;
  left: -1px;
  background: url(./assets/images/4a83c6ef-b536-4567-b093-d57df32303c2.png)
    no-repeat center;
  background-size: cover;
  z-index: 37;
}
.flex-row-fa {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  width: 681px;
  height: 29px;
  margin: 11px 0 0 302.5px;
  z-index: 64;
}
.frame-1a {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 20px;
  position: relative;
  width: 40px;
  height: 29px;
  padding: 0;
  z-index: 64;
}
.frame-1b {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 20px;
  position: relative;
  width: 40px;
  height: 29px;
  padding: 0;
  z-index: 62;
}
.frame-1c {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 20px;
  position: relative;
  width: 48px;
  height: 29px;
  padding: 0;
  z-index: 63;
}
.frame-1d {
  position: relative;
  width: 1440px;
  height: 565px;
  margin: 70px 0 0 0;
  z-index: 66;
  overflow: hidden;
}
.frame-1e {
  position: relative;
  width: 1268px;
  height: 565px;
  margin: 0 0 0 150.5px;
  z-index: 67;
}
.macbook-pro-inch {
  position: absolute;
  width: 687.5px;
  height: 404.175px;
  top: 80.412px;
  left: 0;
  background: url(./assets/images/50bcdddf-e21b-47be-81a1-e83135f18cb1.png)
    no-repeat center;
  background-size: cover;
  z-index: 77;
}
.frame-1f {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: nowrap;
  gap: 34px;
  position: absolute;
  width: 494px;
  height: 394px;
  top: 83px;
  left: 760.5px;
  z-index: 68;
}
.heading {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 24px;
  position: relative;
  width: 494px;
  z-index: 69;
}
.caption {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 8px;
  position: relative;
  width: 71px;
  padding: 8px 16px 8px 16px;
  background: #22242f;
  z-index: 70;
  border-radius: 99px;
}
.why {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  width: 39px;
  height: 16px;
  color: #2ddb81;
  font-family: Inter, var(--default-font-family);
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  text-align: center;
  text-transform: uppercase;
  white-space: nowrap;
  letter-spacing: 0.96px;
  z-index: 71;
}
.why-choose-certriddle {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  width: 520px;
  height: 48px;
  color: #f3f4f5;
  font-family: KyivType Sans, var(--default-font-family);
  font-size: 40px;
  font-weight: 700;
  line-height: 48px;
  text-align: left;
  white-space: nowrap;
  z-index: 72;
}
.frame-20 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 20px;
  position: relative;
  width: 494px;
  z-index: 73;
}
.save-time-resources {
  flex-shrink: 0;
  position: relative;
  width: 494px;
  font-family: Inter, var(--default-font-family);
  font-size: 15px;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
  z-index: 74;
}
.save-time-resources-21 {
  position: relative;
  color: #2ddb81;
  font-family: Inter, var(--default-font-family);
  font-size: 15px;
  font-weight: 700;
  line-height: 24px;
  text-align: left;
}
.streamline-process {
  position: relative;
  color: #ffffff;
  font-family: Inter, var(--default-font-family);
  font-size: 15px;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
}
.tailored-needs {
  flex-shrink: 0;
  position: relative;
  width: 494px;
  font-family: Inter, var(--default-font-family);
  font-size: 15px;
  font-weight: 700;
  line-height: 24px;
  text-align: left;
  z-index: 75;
}
.tailored-needs-22 {
  position: relative;
  color: #2ddb81;
  font-family: Inter, var(--default-font-family);
  font-size: 15px;
  font-weight: 700;
  line-height: 24px;
  text-align: left;
}
.recognize-startups {
  position: relative;
  color: #ffffff;
  font-family: Inter, var(--default-font-family);
  font-size: 15px;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
}
.expert-support {
  flex-shrink: 0;
  position: relative;
  width: 494px;
  font-family: Inter, var(--default-font-family);
  font-size: 15px;
  font-weight: 700;
  line-height: 24px;
  text-align: left;
  z-index: 76;
}
.expert-support-23 {
  position: relative;
  color: #2ddb81;
  font-family: Inter, var(--default-font-family);
  font-size: 15px;
  font-weight: 700;
  line-height: 24px;
  text-align: left;
}
.expert-support-24 {
  position: relative;
  color: #ffffff;
  font-family: Inter, var(--default-font-family);
  font-size: 15px;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
}
.group-d {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: nowrap;
  position: relative;
  width: 1700px;
  margin: 1105px 0 0 0;
  z-index: 92;
}
.wrapper-4 {
  flex-shrink: 0;
  position: relative;
  width: 1280px;
  height: 640px;
  z-index: 93;
}
.pic-7 {
  position: absolute;
  width: 1280px;
  height: 1280px;
  top: 0;
  left: 50%;
  background: url(./assets/images/848dcee8-526f-4409-88ac-560f1f59f3a4.png)
    no-repeat center;
  background-size: cover;
  transform: translate(-50%, 0);
  z-index: 94;
  border-radius: 50%;
}
.wrapper-5 {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: nowrap;
  gap: 65px;
  position: absolute;
  width: 868px;
  height: 269px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -15.06%);
  z-index: 95;
}
.section-8 {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 5px;
  position: relative;
  width: 868px;
  z-index: 96;
}
.supporting-text {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  width: 220px;
  height: 30px;
  color: #2ddb81;
  font-family: Inter, var(--default-font-family);
  font-size: 14px;
  font-weight: 700;
  line-height: 30px;
  text-align: center;
  white-space: nowrap;
  z-index: 97;
}
.section-9 {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 20px;
  position: relative;
  width: 868px;
  z-index: 98;
}
.join-community {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  width: 768px;
  height: 44px;
  color: #ffffff;
  font-family: KyivType Sans, var(--default-font-family);
  font-size: 36px;
  font-weight: 700;
  line-height: 44px;
  text-align: center;
  white-space: nowrap;
  z-index: 99;
}
.security-success {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
  width: 868px;
  height: 57px;
  color: #ffffff;
  font-family: Inter, var(--default-font-family);
  font-size: 16px;
  font-weight: 400;
  line-height: 19.364px;
  text-align: center;
  z-index: 100;
}
.wrapper-6 {
  display: flex;
  align-items: flex-start;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 16px;
  position: relative;
  width: 166px;
  z-index: 101;
}
.wrapper-7 {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 8px;
  position: relative;
  width: 166px;
  padding: 12px 20px 12px 20px;
  background: #2ddb81;
  z-index: 102;
  overflow: hidden;
  border-radius: 8px;
  box-shadow: 0 1px 2px 0 rgba(16, 24, 40, 0.05);
}
.join-community-25 {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 24px;
  color: #ffffff;
  font-family: Inter, var(--default-font-family);
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  text-align: left;
  white-space: nowrap;
  z-index: 103;
}
.wrapper-8 {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 64px;
  position: relative;
  width: 1440px;
  padding: 64px 0 48px 0;
  background: #060e09;
  border-bottom: 1px solid #0f271b;
  z-index: 104;
}
.wrapper-9 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 50px;
  position: relative;
  width: 1280px;
  z-index: 105;
}
.section-a {
  flex-shrink: 0;
  position: relative;
  width: 42px;
  height: 58px;
  z-index: 106;
  overflow: hidden;
}
.pic-8 {
  position: absolute;
  width: 195.24%;
  height: 140.56%;
  top: -11.45%;
  left: -47.62%;
  background: url(./assets/images/5b0e0eb5-4d14-487e-a33e-8399dd0687f5.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 107;
}
.section-b {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 23px;
  position: relative;
  width: 1280px;
  z-index: 108;
}
.section-c {
  display: flex;
  align-items: flex-start;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 27px;
  position: relative;
  width: 126px;
  z-index: 109;
}
.group-e {
  flex-shrink: 0;
  position: relative;
  width: 24px;
  height: 24px;
  z-index: 110;
  overflow: hidden;
}
.pic-9 {
  position: relative;
  width: 19.06px;
  height: 18.001px;
  margin: 2.999px 0 0 2.94px;
  background: url(./assets/images/efb8dc98-a1d9-46f0-b7ba-d2159acdc9ac.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 111;
}
.ri-facebook-fill {
  flex-shrink: 0;
  position: relative;
  width: 24px;
  height: 24px;
  z-index: 112;
  overflow: hidden;
}
.vector {
  position: relative;
  width: 10.5px;
  height: 20px;
  margin: 2px 0 0 7px;
  background: url(./assets/images/fffb9882-464d-436f-8b16-2d21644ff50a.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 113;
}
.ri-twitter-x-fill {
  flex-shrink: 0;
  position: relative;
  width: 24px;
  height: 24px;
  z-index: 114;
  overflow: hidden;
}
.vector-26 {
  position: relative;
  width: 21.573px;
  height: 19.5px;
  margin: 2.25px 0 0 1.215px;
  background: url(./assets/images/6d99a165-50b0-447d-bcd4-06cc0b21b227.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 115;
}
.frame-27 {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: nowrap;
  flex-shrink: 0;
  position: relative;
  width: 1280px;
  z-index: 116;
}
.footer-text {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 24px;
  color: #9ae1bc;
  font-family: Inter, var(--default-font-family);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  white-space: nowrap;
  z-index: 117;
}
.footer-links {
  display: flex;
  align-items: flex-start;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 16px;
  position: relative;
  width: 196px;
  z-index: 118;
}
.footer-link {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 24px;
  color: #9ae1bc;
  font-family: Inter, var(--default-font-family);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  white-space: nowrap;
  z-index: 119;
}
.footer-link-28 {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 24px;
  color: #9ae1bc;
  font-family: Inter, var(--default-font-family);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  white-space: nowrap;
  z-index: 120;
}
.footer-link-29 {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 24px;
  color: #9ae1bc;
  font-family: Inter, var(--default-font-family);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  white-space: nowrap;
  z-index: 121;
}
.vector-2a {
  position: absolute;
  width: 1280px;
  height: 1280px;
  top: -555px;
  left: 50%;
  background: url(./assets/images/98b11cdc-93bc-464c-8eda-b575af380dd5.png)
    no-repeat center;
  background-size: cover;
  transform: translate(-50%, 0);
  z-index: 18;
  border-radius: 50%;
}
.frame-2b {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
  position: absolute;
  width: 1280px;
  height: 58px;
  top: 13px;
  left: 80px;
  z-index: 5;
}
.frame-2c {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 76px;
  position: relative;
  width: 42px;
  z-index: 6;
}
.frame-2d {
  flex-shrink: 0;
  position: relative;
  width: 42px;
  height: 58px;
  z-index: 7;
  overflow: hidden;
}
.mask-group-2e {
  position: absolute;
  width: 195.24%;
  height: 140.56%;
  top: -11.45%;
  left: -47.62%;
  background: url(./assets/images/5ad85474-cd4f-4afd-a881-eb0c66367145.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 8;
}
.frame-2f {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
  flex-shrink: 0;
  position: relative;
  width: 205px;
  z-index: 9;
}
.blog {
  cursor: pointer;
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 24px;
  color: #ffffff;
  font-family: Inter, var(--default-font-family);
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
  white-space: nowrap;
  z-index: 10;
}
.frame-30 {
  display: flex;
  align-items: flex-start;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 27px;
  position: relative;
  width: 126px;
  z-index: 11;
}
.ri-linkedin-fill {
  flex-shrink: 0;
  position: relative;
  width: 24px;
  height: 24px;
  z-index: 12;
  overflow: hidden;
}
.vector-31 {
  position: relative;
  width: 19.06px;
  height: 18.001px;
  margin: 2.999px 0 0 2.94px;
  background: url(./assets/images/75e1d687-0f58-45bd-af41-d735d5b6e64d.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 13;
}
.ri-facebook-fill-32 {
  flex-shrink: 0;
  position: relative;
  width: 24px;
  height: 24px;
  z-index: 14;
  overflow: hidden;
}
.vector-33 {
  position: relative;
  width: 10.5px;
  height: 20px;
  margin: 2px 0 0 7px;
  background: url(./assets/images/ac75874d-5217-48ad-a44d-4fbb05ce1104.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 15;
}
.ri-twitter-x-fill-34 {
  flex-shrink: 0;
  position: relative;
  width: 24px;
  height: 24px;
  z-index: 16;
  overflow: hidden;
}
.vector-35 {
  position: relative;
  width: 21.573px;
  height: 19.5px;
  margin: 2.25px 0 0 1.215px;
  background: url(./assets/images/378c4313-f939-48b4-8541-eabaaf392aab.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 17;
}
.divider {
  position: absolute;
  width: 1440px;
  height: 1px;
  top: 83.5px;
  left: 0;
  background: url(./assets/images/98aa625e-fc6b-4525-9350-e63867778b92.png)
    no-repeat center;
  background-size: cover;
  z-index: 4;
}
.heading-36 {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: nowrap;
  gap: 40px;
  position: absolute;
  width: 874px;
  height: 306px;
  top: 160px;
  left: 50%;
  transform: translate(-49.94%, 0);
  z-index: 19;
}
.frame-37 {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 32px;
  position: relative;
  width: 874px;
  z-index: 20;
}
.security-certifications {
  flex-shrink: 0;
  position: relative;
  width: 874px;
  font-family: KyivType Sans, var(--default-font-family);
  font-size: 44px;
  font-weight: 700;
  line-height: 52.8px;
  text-align: center;
  z-index: 21;
}
.guide-through-security {
  position: relative;
  color: #f7f7f7;
  font-family: KyivType Sans, var(--default-font-family);
  font-size: 44px;
  font-weight: 700;
  line-height: 52.8px;
  text-align: center;
}
.certifications-compliance-38 {
  position: relative;
  color: #2ddb81;
  font-family: KyivType Sans, var(--default-font-family);
  font-size: 44px;
  font-weight: 700;
  line-height: 52.8px;
  text-align: center;
}
.security-certifications-39 {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
  width: 583px;
  height: 72px;
  color: #f7f7f7;
  font-family: Inter, var(--default-font-family);
  font-size: 15px;
  font-weight: 400;
  line-height: 18.153px;
  text-align: center;
  z-index: 22;
}
.form-cta {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 14px;
  position: relative;
  width: 259px;
  z-index: 23;
}
.cta-caption {
  cursor: pointer;
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 24px;
  position: relative;
  width: 260px;
  z-index: 24;
}
.button {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  flex-shrink: 0;
  position: relative;
  width: 200px;
  padding: 12px 64px 12px 64px;
  background: #28a263;
  z-index: 25;
  overflow: hidden;
  border-radius: 12px;
}
.join-waitlist {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 32px;
  color: #ffffff;
  font-family: Inter, var(--default-font-family);
  font-size: 18px;
  font-weight: 600;
  line-height: 32px;
  text-align: left;
  white-space: nowrap;
  letter-spacing: -0.36px;
  z-index: 26;
}
.bg {
  position: absolute;
  width: 1776.437px;
  height: 1081.981px;
  top: 339.568px;
  left: -50px;
  background: url(./assets/images/6b9fa95c-a13c-4fd3-b622-cf344ec022b0.png)
    no-repeat center;
  background-size: cover;
  z-index: 2;
}
.frame-3a {
  position: absolute;
  width: 1440px;
  height: 405px;
  top: 2404px;
  left: 0;
  background: url(./assets/images/4b94f543-37aa-4470-9ed1-cd7ceea05727.png)
    no-repeat center;
  background-size: cover;
  z-index: 78;
}
.ellipse {
  position: absolute;
  width: 1009.147px;
  height: 631.966px;
  top: 2802px;
  left: -362px;
  background: url(./assets/images/f54df3e8-63d6-432e-940a-a3c83efa2b75.png)
    no-repeat center;
  background-size: cover;
  filter: blur(150px);
}
.vector-3b {
  position: absolute;
  width: 916.391px;
  height: 674.24px;
  top: 2709.404px;
  left: 190.771px;
  background: url(./assets/images/47877c4d-e120-43d5-8613-2d1946953181.png)
    no-repeat center;
  background-size: cover;
  filter: blur(100px);
  z-index: 1;
}
.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: nowrap;
  gap: 32px;
  position: absolute;
  width: 1281px;
  height: 330px;
  top: 2959px;
  left: 259.5px;
  padding: 64px 154px 64px 154px;
  background: rgba(4, 26, 14, 0.31);
  border: 1px solid #0f271b;
  z-index: 79;
  border-radius: 16px;
  backdrop-filter: blur(9.45px);
}
.heading-supporting-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 20px;
  position: relative;
  width: 768px;
  z-index: 80;
}
.still-thinking {
  align-self: stretch;
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  min-width: 0;
  height: 44px;
  color: #ffffff;
  font-family: KyivType Sans, var(--default-font-family);
  font-size: 36px;
  font-weight: 700;
  line-height: 44px;
  text-align: center;
  white-space: nowrap;
  z-index: 81;
}
.certificates-in-one {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  width: 255px;
  height: 30px;
  color: #ffffff;
  font-family: Inter, var(--default-font-family);
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  text-align: center;
  white-space: nowrap;
  z-index: 82;
}
.email-capture {
  display: flex;
  align-items: flex-start;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 16px;
  position: relative;
  width: 543px;
  z-index: 83;
}
.input-field {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 6px;
  position: relative;
  width: 360px;
  z-index: 84;
}
.input-with-label {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 6px;
  position: relative;
  min-width: 0;
  z-index: 85;
}
.input {
  display: flex;
  align-items: center;
  align-self: stretch;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 8px;
  position: relative;
  padding: 12px 14px 12px 14px;
  border: 1px solid #163927;
  z-index: 86;
  overflow: hidden;
  border-radius: 8px;
  box-shadow: 0 1px 2px 0 rgba(16, 24, 40, 0.05);
}
.content-3c {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 0;
  gap: 8px;
  position: relative;
  z-index: 87;
}
.enter-email {
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 24px;
  color: #9ae1bc;
  font-family: Inter, var(--default-font-family);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  white-space: nowrap;
  z-index: 88;
}
.hint-text {
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  width: 360px;
  min-width: 0;
  font-family: Inter, var(--default-font-family);
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  text-overflow: initial;
  white-space: nowrap;
  z-index: 89;
}
.data-privacy-policy {
  position: relative;
  color: rgba(255, 255, 255, 0.35);
  font-family: Inter, var(--default-font-family);
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
}
.privacy-policy {
  position: relative;
  color: rgba(255, 255, 255, 0.35);
  font-family: Inter, var(--default-font-family);
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  text-decoration: underline;
}
.period {
  position: relative;
  color: rgba(255, 255, 255, 0.35);
  font-family: Inter, var(--default-font-family);
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
}
.button-3d {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 8px;
  position: relative;
  width: 167px;
  padding: 12px 20px 12px 20px;
  background: #2ddb81;
  z-index: 90;
  overflow: hidden;
  border-radius: 8px;
  box-shadow: 0 1px 2px 0 rgba(16, 24, 40, 0.05);
}
.join-waitlist-3e {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 24px;
  color: #ffffff;
  font-family: Inter, var(--default-font-family);
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  text-align: left;
  white-space: nowrap;
  z-index: 91;
}
